<div class="container centered">
  <div>
  <h1>New Meeting</h1>

  <%= render 'form', meeting: @meeting %>

  <%= link_to 'Back', root_path %>
  </div>

  <div>
    <a data-target="#calendar-toggle" class="btn btn-primary" data-toggle="collapse">Show/Hide Calendar</a>
    <div id="calendar-toggle" class="collapse">
      <%= render 'shared/calendar', meetings: @meetings %> 
    </div>
  </div>

</div>
