/* line 1, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}

/* line 92, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
.simple-calendar table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #dddddd;
  border-collapse: collapse;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}
/* line 103, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
.simple-calendar tr {
  border-collapse: collapse;
}
/* line 107, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
.simple-calendar th {
  padding: 6px;
  border-bottom: 2px solid #dddddd;
  border-collapse: collapse;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 0px none #333333;
  box-sizing: border-box;
  text-align: left;
}
/* line 118, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
.simple-calendar td {
  padding: 6px;
  vertical-align: top;
  width: 14%;
  border: 1px solid #ddd;
  border-top-color: #dddddd;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #dddddd;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #dddddd;
  border-left-style: solid;
  border-left-width: 1px;
}
/* line 138, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
.simple-calendar .day {
  height: 80px;
}
/* line 150, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
.simple-calendar .today {
  background: #FFFFC0;
}
/* line 159, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
.simple-calendar .prev-month {
  background: #DDD;
}
/* line 162, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
.simple-calendar .next-month {
  background: #DDD;
}
/* line 169, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/scaffolds.scss */
.simple-calendar .calendar_title {
  font-size: 30px;
  font-weight: bold;
}
/* line 2, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #dddddd;
  border-collapse: collapse;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}
/* line 13, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar tr {
  border-collapse: collapse;
}
/* line 17, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar th {
  padding: 6px;
  border-bottom: 2px solid #dddddd;
  border-collapse: collapse;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 0px none #333333;
  box-sizing: border-box;
  text-align: left;
}
/* line 28, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar td {
  padding: 6px;
  vertical-align: top;
  width: 14%;
  border: 1px solid #ddd;
  border-top-color: #dddddd;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #dddddd;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #dddddd;
  border-left-style: solid;
  border-left-width: 1px;
}
/* line 48, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .day {
  height: 80px;
}
/* line 60, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .today {
  background: #FFFFC0;
}
/* line 69, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .prev-month {
  background: #DDD;
}
/* line 72, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .next-month {
  background: #DDD;
}
/* line 79, /Users/leahgarber/Development/code/happy-fun-conference-rooms/app/assets/stylesheets/simple_calendar.scss */
.simple-calendar .calendar_title {
  font-size: 30px;
  font-weight: bold;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


@import "bootstrap-sprockets"; 
@import "bootstrap"; 
