<div>
  <a data-target="#calendar-toggle" class="btn btn-primary" data-toggle="collapse">Show/Hide Calendar</a>
  <div id="calendar-toggle" class="collapse">
    <%= render 'shared/calendar', meetings: meetings %> 
  </div>
</div>

