body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  padding: 20px; 
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #58c5d9;
  }
}

.today-view {
  padding-bottom: 20px; 
  background-color: #13a4aa; 
}

.meeting-link {
  color: black;

  &:visited {
    color: black;
  }

  &:hover {
    color: black;
    text-decoration: underline; 
    div {
    }
  }
}

.book-room-link {
  color: black; 
  margin: 20px; 
}

.meeting-room-1 {
  background-color: #95d1b4;  
} 

.meeting-room-2 {
  background-color: #fae66f;  
}

.meeting-room-3 {
  background-color: #58c5d9;   
}

.meeting-div {
  padding: 5px; 
  margin: 5px; 
  border-radius: 10px; 
}
th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.centered {
  margin: 0 auto; 
  width: auto; 
  text-align: center; 
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.radio-toolbar {
  input[type="radio"] {
    display: none; 
  }
  label {
    display: inline-block; 
    margin: 5px; 
    padding: 15px; 
    border: 1px solid black;  
    border-radius: 10px; 
    cursor: pointer; 
    font-weight: normal;  
    background-color: #ddd; 
    &:hover {
      background-color: #bbb;  
    }
  }
  input[type="radio"]:checked+label {
    background-color: #aaa;  
  }

}

